*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
signing.properties
test/androidTestEspresso/res/values/arrays.xml
/reproducible-builds/certs
/reproducible-builds/apks
/reproducible-builds/test-reports
