# MOLLY: Reduce the number of merge conflicts.
#
# Note: also need:
# git config merge.ours.driver true
# git config merge.theirs.driver 'cp -- %B %A'

/app/src/main/res/values-*/strings.xml merge=theirs
/gradle/verification-metadata.xml merge=union
